:root {
    --ex-colors-info-background: #1c2532;
    --ex-colors-error-background: #38191e;
    --ex-colors-warning-background: #2d251a;

    --ex-colors-info-button-background: #273b4f;
    --ex-colors-error-button-background: #6e2e27;
    --ex-colors-warning-button-background: #6b4d1d;

    --ex-colors-info-button-background-hover: #2c3e50;
    --ex-colors-error-button-background-hover: #8b3a3a;
    --ex-colors-warning-button-background-hover: #8b5a2a;
}

.chat-message-system {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.chat-message-container {
    display: flex;
    flex-direction: column;
    /* Changed from row to column for better layout */
    padding-top: 15px;
    padding-left: 10px;
    /* padding-right: 5px; */
    height: auto;
}

.chat-message-container--user {
    margin-top: 10px;
    margin-right: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: transparent;
}

.chat-message-container--ai {
    background-color: transparent;
    /*background-color: var(--unity-colors-popup-background);*/
}

.chat-message-container--system {
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    max-width: 90%;
    border-radius: 10px;
    background-color: var(--unity-colors-popup-background);
}

.chat-message-container--temp {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    align-self: center;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.chat-message-container--temp-info {
    background-color: var(--ex-colors-info-background);
}

.chat-message-container--temp-warning {
    background-color: var(--ex-colors-warning-background);
}

.chat-message-container--temp-error {
    background-color: var(--ex-colors-error-background);
}

.chat-message-container--system {
    font-size: 12px;
    white-space: pre-wrap;
    min-height: 40px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0.8;
    color: var(--unity-colors-text);
    -unity-text-align: middle-center;
    -unity-font-style: bold-and-italic;
    /*background-color: var(--unity-colors-slider_thumb_halo-background);*/
}

.chat-message-container--show-more {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24px;
}

.show-more-button {
    flex: 1;
    background-color: var(--unity-colors-object_field_button-background);
    -unity-text-align: middle-center;
}

.show-more-button:hover {
    background-color: var(--unity-colors-object_field_button-background-hover);
}

.chat-message-header-row {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
}

.chat-message-icon {
    width: 32px;
    height: 32px;
    opacity: 0.8;
    align-self: center;
}

.chat-message-button-row {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    margin-right: 4px;
    align-items: flex-start;
}

.chat-message-button-row--user {
    align-items: flex-end;
}

.chat-message-button-row--ai {
    align-items: flex-start;
}

.chat-message-button {
    margin-right: 4px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    width: auto;
    transition: scale 0.15s ease-in-out;
    border-color: transparent;
}

.chat-message-button:hover {
    scale: 1.05;
}

.chat-message-button--info {
    background-color: var(--ex-colors-info-button-background);
}

.chat-message-button--info:hover {
    background-color: var(--ex-colors-info-button-background-hover);
}

.chat-message-button--warning {
    background-color: var(--ex-colors-warning-button-background);
}

.chat-message-button--warning:hover {
    background-color: var(--ex-colors-warning-button-background-hover);
}

.chat-message-button--error {
    background-color: var(--ex-colors-error-button-background);
}

.chat-message-button--error:hover {
    background-color: var(--ex-colors-error-button-background-hover);
}

.chat-message-content-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.chat-message-content-container--ai {
    margin-left: 6px;
    margin-right: 8px;
    margin-top: 15px;
    margin-bottom: 5px;
    width: auto;
    align-items: flex-start;
}

.chat-message-content-container--user {
    margin-left: 40px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 80%;
    width: auto;
    align-items: flex-end;
    border-radius: 10px;
    background-color: var(--unity-colors-default-background);
}

.chat-message-content {
    font-size: 12px;
    white-space: pre-wrap;
    color: var(--unity-colors-text);
    /* make it selectable */
    -unity-user-select: text;
}

.chat-message-content-temp-message {
    font-size: 12.5px;
    white-space: pre-wrap;
    min-height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--unity-colors-text);
}

.chat-message-content-editing {
    font-size: 12px;
    white-space: pre-wrap;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    -unity-text-align: middle-left;
    color: var(--unity-colors-text);
}

.chat-message-details-row {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin-left: 5px;
    margin-bottom: 12px;
    white-space: pre-wrap;
}

.chat-message-details-row--user {
    margin-right: 5px;
}

.chat-message-details-row--ai {
    margin-right: 15px;
}

.chat-message-details {
    font-size: 10px;
    color: var(--unity-colors-link-text);
}

.chat-message-separator {
    width: 96%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    align-self: center;
}

.chat-message-attached-images-container {
    display: flex;
    flex-direction: row;
    height: auto;
}

.chat-message-attached-image {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    border-width: 1px;
    border-color: var(--unity-colors-headerbar_column-background-hover);
}

.chat-message-attached-files-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.chat-message-attached-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    border-width: 1px;
    border-color: var(--unity-colors-headerbar_column-background-hover);
    background-color: var(--unity-colors-object_field_background);
}

.chat-message-attached-file:hover {
    background-color: var(--unity-colors-object_field_background-hover);
}

.chat-message-attached-file-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.chat-message-attached-file-name {
    font-size: 12px;
    color: var(--unity-colors-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}