 .tab-view {
     flex-direction: column;
     height: 100%;
     width: 100%;
 }

 .child-root {
     flex-grow: 1;
 }

 .unity-tab-view__content-viewport {
     height: 30px;
 }

 .unity-tab-view__content-container {
     flex-grow: 1;
 }

 .unity-tab__header {
     flex-direction: row;
     align-items: center;
     padding: 5px 15px;
 }

 .unity-tab {
     flex-grow: 1;
 }

 .unity-tab__content-container {
     flex-grow: 1;
 }