.preview-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 200px;
    max-width: 300px;
}

.preview-container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 10px;
    overflow: hidden;
}

.preview-node {
    display: flex;
    border-bottom-color: var(--unity-colors-default-border);
    flex-direction: column;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 10px;
    height: auto;
}

.preview-node-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 24px;
}

.code-block {
    display: flex;
    white-space: pre-wrap;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    background-color: #000000;
    border-width: 1px;
    border-color: var(--unity-colors-default-border);
}

.code-imgui-container {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.code-loading-label {
    font-size: 11px;
    -unity-text-align: middle-center;
    color: #6c6c6c;
    white-space: normal;
    overflow: visible;
    width: 100%;
    margin-top: 10px;
}

.grid-view-box-label-title {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    color: var(--unity-colors-button-text);
    white-space: pre-wrap;
}

.grid-view-box-label-content {
    font-size: 11px;
    -unity-text-align: middle-center;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.grid-view-box-label-details {
    font-size: 10.5px;
    -unity-text-align: middle-center;
    margin-bottom: 10px;
    color: #6c6c6c;
    white-space: pre-wrap;
}

.preview-image {
    width: 128px;
    height: 128px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--unity-colors-default-background);
    border-radius: 4px;
    border-width: 2.5px;
    border-color: var(--unity-colors-default-border);
    align-self: center;
    align-content: center;
    justify-content: space-between;
    white-space: normal;
    -unity-text-align: middle-center;
}

.preview-image.selected {
    border-color: #3db1e3;
    border-width: 2.5px;
}

.toggle-code-view-button {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 60px;
    border-radius: 5px;
    align-self: center;
    align-content: center;
    justify-content: center;
}