:root {
    --ex-colors-info-background: #1c2532;
    --ex-colors-error-background: #38191e;
    --ex-colors-warning-background: #2d251a;

    --ex-colors-info-button-background: #273b4f;
    --ex-colors-error-button-background: #6e2e27;
    --ex-colors-warning-button-background: #6b4d1d;

    --ex-colors-info-button-background-hover: #2c3e50;
    --ex-colors-error-button-background-hover: #8b3a3a;
    --ex-colors-warning-button-background-hover: #8b5a2a;

    --ex-colors-indigo-background: #3f51b5;
    --ex-colors-indigo-button-background: #303f9f;
    --ex-colors-indigo-button-background-hover: #3949ab;
}